.Looper{
	position: absolute;
	text-align: center;
	border-radius: 50%;
	background-color: #ff3333;

	/*
		set by Plada 
		top, left, width, height
	*/

	/*
		optional
		background-color
	*/
}

.Visual{
	/*background-color: blue;*/
}